  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
.colorB{
  color:#000;
}
.noOverFlow{
  overflow:hidden;
}
.borderless .list-group-item {
    list-style-type: none;
}

.Allpadding{
  padding-bottom:100px;
  padding-top:100px;
}

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}



  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #1abc9c;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }




  .container-fluid {
    height:auto;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 150x;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }